*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
a{
    text-decoration: none;
    color: black;
}
header > nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
    margin: 0px 18px;
}
header > nav a {
	padding: 0 1em;
	color: black;
}
h1{
    font-size: 70px;
    text-align: center;
}
.jumbo{
    background-color: #b4d0e7;
    margin-bottom: 100px;
    max-height: 700px;
}
.container{
    position: relative;
	padding-top: 60px;
    max-height: 650px;
}
.use{
    width: 800px;
}
.box{
    display: flex;
    margin: 40px 250px;
}
.btn{
    background-color: rgb(21, 84, 219);
    padding: 7px 15px;
    color: white;
    transition: 300ms;
}
.btn:hover{
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 2px rgb(21, 84, 219);
}
#spacer{
    margin-top: 34px;
}
#arrow{
    width: 60px;
    position: absolute;
    zoom: 4;
}
.text{
    font-weight: 300;
}
input{
    margin: 10px;
}
.heading{
    display: flex;
    flex-direction: column;
    margin: 0px 350px;
    gap: 30px;
}
.fixer{
    margin-right: 40px;
}
.mrg > h2{
    font-size: 40px;
    margin: 15px 0px;
}
.pagamento{
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 900px;
    border: solid  1px rgb(187, 181, 181);
    padding: 15px;
}
.top{
    text-align: center;
    border: solid 1px rgb(187, 181, 181);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.fixed{
    text-align: center;
    margin: 10px 50px;
}
.item > hr{
    color: rgb(187, 181, 181);
    width: 60px;
    margin-left: 15px;
    opacity: 0.5;
    margin-top: 12px;
    margin-bottom: 12px;
}
#checkmark{
    color: rgb(21, 84, 219);
}
.top > p{
    margin-bottom: 15px;
}
.mrg{
    margin: 18px 0px;
}
.mid{
    margin: 20px 0px;
}
.spa{
    margin-bottom: 57px;
}
.tn{
    margin-bottom: 38px;
}
.mrg > h3{
    margin-top: 20px;
    margin-bottom: 30px;
}
.bot{
    margin: 20px;
}
.grey{
    color: rgb(161, 155, 155);
    opacity: 0.8;
}
.team{
    display: flex;
    flex-direction: column;

    border: solid  1px rgb(187, 181, 181);
    padding: 15px;

    margin:70px 350px
}
.ent{
    margin: 20px 0px;
}
.Partner{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin:70px 350px
}
.ppl{
    width: 600px;
    margin: 20px;
}
.button{
    transition: 300ms;
    box-shadow: inset 0 0 0 2px rgb(104, 105, 107);
    padding: 10px;
}
.button:hover{
    background-color: black;
    color: white;
    box-shadow: inset 0 0 0 2px rgb(26, 55, 223);
}
.operazioni{
    text-align: center;
    font-size: 30px;
}
.six{
    display: flex;
    flex-wrap: wrap;
    margin:70px 350px;
    justify-content: space-around;
}
.options{
    width: calc(100% / 3);
    padding: 25px;
    text-align: center;
}
.imag{
    width: 300px;
}
.discover > h2{
    font-size: 40px;
    margin-bottom: 60px;
}
.discover{
    display: flex;
    flex-direction: column;
    margin: 70px 350px;
}
.psn{
    position: relative;
}
.partners{
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% / 3);
    height: 629px;
    align-items: center;
}
.ptn{
    max-width: calc(100% / 2);
    height: calc(100% / 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.spn{
    width: 180px;
    margin: 40% 22%;
    filter: invert(1);
}
.grn{
    background-color: rgb(95, 182, 95);
}
.prp{
    background-color: #60092b;
}
.blu{
    background-color: #0093ce;
}
.red{
    background-color: #ff1b1c;
}
.bbp{
    background-color: #f5f5f5;
    position: absolute;
    max-width: calc(100% / 3);
    right: calc(100% / 3);
    padding: 40px;
    height: 629px;
    overflow-y: auto;
}
.business{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 30px;
    background-color: lightblue;
}
.az{
    font-size: 40px;
}
.try{
    background-color: white;
    color: black;
    padding: 10px 30px;
}
.it{
    background-size: contain;
    background-color: white;
}
.dom{
    display: flex;
    margin: 70px 350px 30px 350px;
    font-size: 30px;
}
.faq{
    margin: 0px 350px;
}
.bla > br{
    color: grey;
}
.bla > h3{
    margin: 30px 0px;
}
footer{
    background-color: black;
}
.foot{
    margin: 70px 350px 0px 350px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 350px;
    gap: 46px;
}
.dup{
    padding: 16px;
    margin-top: 60px;
}
.dup > p{
    margin: 20px 0px;
}
.lang{
    display: flex;
    background-color: black;
    margin: 0px 350px;
    height: 50px;
    align-items: center;
}
.ft{
    border-color: grey;
    margin: 10px 1430px 10px 355px;
}
.it{
    background-color: black;
    color: white;
    padding-left: 10px;
}